*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@font-face {
  font-family: 'Grechen Fuemen';
  src: url("/fonts/GrechenFuemen-Regular.woff2") format("woff2"), url("/fonts/GrechenFuemen-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.film__title {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  padding: 10px 0;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(gold));
  background: linear-gradient(to right, orange, gold);
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.film__menu {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.film__item {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  font-size: 24px;
  padding: 20px;
  margin-bottom: 15px;
  width: 290px;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(gold));
  background: linear-gradient(to right, orange, gold);
  border-radius: 10px;
  -webkit-box-shadow: 12px 2px 122px gold;
          box-shadow: 12px 2px 122px gold;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}

.film__item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.film__img {
  width: 255px;
}

.film__img:hover {
  -webkit-transition: 2s ease all;
  transition: 2s ease all;
  -webkit-transform: scale(2);
          transform: scale(2);
  border-radius: 10%;
}

.film__subtitle {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
}

.film__subtitle {
  margin: 10px 0;
}

.film__time {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  font-size: 224x;
  display: inline-block;
  margin: 10px 0;
}

#search {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  width: 180px;
  height: 40px;
  text-align: center;
  margin-left: 400px;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(gold));
  background: linear-gradient(to right, orange, gold);
  border: none;
  border-radius: 5px;
  font-size: 26px;
}

#search::-webkit-input-placeholder {
  color: #fff;
}

#search:-ms-input-placeholder {
  color: #fff;
}

#search::-ms-input-placeholder {
  color: #fff;
}

#search::placeholder {
  color: #fff;
}

#form {
  margin-top: 50px;
  margin-bottom: 50px;
  max-height: 100vh;
}

#select {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  width: 120px;
  height: 35px;
  margin-left: 20px;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(gold));
  background: linear-gradient(to right, orange, gold);
  border: none;
  border-radius: 3px;
  text-align: center;
  color: red;
  font-size: 22px;
}

#btn {
  font-family: 'Grechen Fuemen';
  font-weight: 400;
  width: 130px;
  height: 38px;
  margin-left: 15px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(orange), to(gold));
  background: linear-gradient(to right, orange, gold);
  border: none;
  border-radius: 5px;
  font-size: 22px;
}
/*# sourceMappingURL=main.css.map */