@import './general';

.film{
    &__title{
        padding: 10px 0;
        background: linear-gradient(to right,orange,gold);
        color: #fff;
        text-align: center;
    }
    &__menu{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item{
        padding: 20px;
        margin-bottom: 15px;
        width: 290px;
        background: linear-gradient(to right,orange,gold);
        border-radius: 10px;
        box-shadow: 12px 2px 122px gold;
        color: #fff;
        text-align: center;
        margin-right: 10px;
        &:hover{
            transition: 0.3s;
            transform: scale(1.01);
        }
    }
    &__img{
        width: 255px;
    }
    &__subtitle{
        text-align: center;
        text-transform: uppercase;
    }
    &__subtitle{
        margin: 10px 0;
    }
    &__time{
        display: inline-block;
        margin: 10px 0;
    }
}
#search{
    width: 180px;
    height: 40px;
    text-align: center;
    margin-left: 400px;
    background: linear-gradient(to right,orange,gold);
    border: none;
    border-radius: 5px;
}
#search::placeholder{
    color: #fff;
}
#form{
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 100vh;
}
#select{
    width: 120px;
    height: 35px;
    margin-left: 20px;
    background: linear-gradient(to right,orange,gold);
    border: none;
    border-radius: 3px;
    text-align: center;
    color: red;
}
#btn{
    width: 130px;
    height: 38px;
    margin-left: 15px;
    color: #fff;
    background: linear-gradient(to right,orange,gold);
    border: none;
    border-radius: 5px;
}